name: Deploy Firebase Backend

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: "20"
        
    - name: Install Firebase CLI
      run: npm install -g firebase-tools

    - name: Install Dependencies
      run: |
        cd functions
        npm install
      
    - name: Write Service Account Key
      run: |
        echo '${{ secrets.GCP_SA_KEY }}' > /tmp/gcp-sa.json
        
    - name: Deploy Functions
      env:
        GOOGLE_APPLICATION_CREDENTIALS: /tmp/gcp-sa.json
    - name: Install & Build Frontend
      run: |
        cd frontend
        npm install
        npm run build

    - name: Deploy to Firebase
      run: |
        firebase use ${{ secrets.FIREBASE_PROJECT_ID }} --add
        firebase functions:config:set gemini.key="${{ secrets.GEMINI_API_KEY }}"
        firebase deploy --force --only functions,firestore:rules,hosting --project ${{ secrets.FIREBASE_PROJECT_ID }}
